header{
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 3;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo{
    font-size: 24px;
    color: black ;
    width: 90px;
}

.nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav_list a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}



.flag {
    position: absolute;
    width: 50px; 
    height: 5px; 
    background-color: red; 
    top: 60px;
    left: 0; 
    transition: left 0.3s ease;
}




.mobile_btn-default{
    display: none;
}

.mobile_menu{
    display: none;
}

@media screen and (max-width:1170px){
    .mobile_btn-default{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5 rem;
        cursor: pointer;
    }

    .nav_list, navbar .btn-defaut{
        display: none;
    }

    .mobile_menu.active{
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    .mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;

    }

}



