
.Time {
    padding: 20px;
}


.players {
    display: flex;
    flex-wrap: wrap;
    gap: 100px; 
    margin-left: 80px;
}


.players > div {
    flex: 1 1 20%;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}


.icone_top, .icone_jungle, .icone_mid, .icone_adc, .icone_suporte {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}


.players img:not(.icone_top):not(.icone_jungle):not(.icone_mid):not(.icone_adc) :not(.icone_suporte) {
    width: 100%;
    border-radius: 8px;
}

.description_laner{
    font-size: 12px;
}


.section_title{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 600;
    font-size: 40px
 
}

.section_title_time{
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}




@media only screen and (min-width: 1440px) {
    .players {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
        margin-left: 80px;
    }
  }