/* Define o estilo geral para a seção */
.Time {
    padding: 20px;
}

/* Aplica o Flexbox ao contêiner dos jogadores */
.players {
    display: flex;               /* Usa o Flexbox para layout */
    flex-wrap: wrap;             /* Permite quebra de linha se necessário */
    gap: 100px; 
    margin-left: 80px;                  /* Espaçamento entre os itens */
}

/* Estiliza cada jogador */
.players > div {
    flex: 1 1 20%;               /* Ajusta o tamanho dos itens (20% do contêiner) */
    max-width: 250px;            /* Define uma largura máxima para os itens */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destaque */
    padding: 10px;
    border-radius: 8px;          /* Adiciona bordas arredondadas */
    text-align: center;          /* Centraliza o texto */
}

/* Ajusta o tamanho das imagens dos ícones */
.icone_top, .icone_jungle, .icone_mid, .icone_adc, .icone_suporte {
    width: 50px;
    height: 50px;
    border-radius: 50%;          /* Faz os ícones ficarem redondos */
    margin-bottom: 10px;         /* Espaço abaixo dos ícones */
}

/* Ajusta o tamanho das imagens dos jogadores */
.players img:not(.icone_top):not(.icone_jungle):not(.icone_mid):not(.icone_adc) :not(.icone_suporte) {
    width: 100%;                  /* Faz as imagens dos jogadores se ajustarem ao tamanho do contêiner */
    border-radius: 8px;          /* Adiciona bordas arredondadas */
}

.description_laner{
    font-size: 12px;
}


.section_title{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 600;
    font-size: 40px
 
}
